{% extends 'base.html' %}

{% block title %}Event List{% endblock %}

{% block content %}
<div class="row scrollable-row">
  {% for event in events %} {% if event.approval_status == 'ongoing' %}
  <div class="event-card">
    <div class="photo-slider">
      {% for photo in event.photos.all %}
      <img
        src="{{ photo.photo_file.url }}"
        alt="Event Photo"
        class="event-photo"
      />
      {% endfor %}
    </div>
    <div class="event-details">
      <h2 class="event-title">
        {{ event.name }} -
        <span class="small-title">{{event.approval_status}}</span>
      </h2>
      <p class="event-description">{{ event.description }}</p>
      <p class="event-meta">Committee: {{ event.committee.name }}</p>
      <p class="event-meta">Launch Date: {{ event.launch_date }}</p>
      <p class="event-meta">Venue: {{ event.venue }}</p>
      <a href="{% url 'event_details' event.id %}" class="btn btn-primary"
        >View Event</a
      >
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
